# Object files
*.o
*.obj

# Libraries
*.a
*.lib

# Executables
*.exe
*.out
tests/test_totp

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Editor and IDE files
*.swp
*.swo
*~
.vscode/
.idea/
*.code-workspace

# Build directories
build/
dist/
*.elf
*.bin
*.hex
*.map

# OS files
.DS_Store
Thumbs.db

# Core dumps
core
*.core
